.app {
  display: flex;
  flex-direction: row; /* Change to row for side-by-side layout */
  min-height: 100vh;
  gap: 20px; /* Space between product list and cart */
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
}

.cart-icon a {
  font-size: 24px;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.cart-icon a:hover {
  color: #3ed445;
}
